body{
    background-image: url(src/assets/images/Milky_Way.jpg);
    display: block;
    text-align: center;
    background-size: cover;
    margin: auto auto auto auto;
    background-repeat: no-repeat;
}
