.mainDisplay{
    text-align: center;
}
div{
    margin-top: 20px;
}
label{
    display: inline-block;
    text-align: left;
    width: 200px;
    color: rgba(247, 246, 250, 0.836);
    font-family: 'Consolas';
}
h1{
    color: rgba(247, 246, 250, 0.836);
    font-family: 'Consolas';
    font-size: 40px;
}
input{
    border-radius: 10px;
}
button{
    font-family: 'Aharoni';
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    width: 150px;
}
